<div class="card my-2">
    <div class="card-header">
        Product Entry
    </div>
    <div class="card-body">
        <div class="form">
            <div class="row">
                <div class="col-md-2 mt-md-0 my-2"><label>Receive No</label></div>
                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                </div>
                <div class="col-md-2 mt-md-0 my-2"><label>Challan No</label></div>
                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mt-md-0 my-2"><label>Start Date</label></div>
                <div class="col-md-4 mt-md-0 my-y">  <input type="date" class="form-control" required>
                </div>
                <div class="col-md-2 mt-md-0 my-2"><label>End Date</label></div>
                <div class="col-md-4 mt-md-0 my-2"> <input type="date" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mt-md-0 my-2"><label>Track No</label></div>
                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                </div>
                <div class="col-md-2 mt-md-0 my-2"><label>Driver Name</label></div>
                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mt-md-0 my-2"><label>Delivary Point</label></div>
                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                </div>
                <div class="col-md-2 mt-md-0 my-2"><label>Remark</label></div>
                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Product Details
    </div>
    <div class="card-body p-2">
        <button class="btn btn-success mx-1" id="addDetail">Add</button>
        <button class="btn btn-success mx-1" id="editDetail">Edit</button>
        <button class="btn btn-success mx-1" id="deleteDetail">Delete</button>
    </div>
    <div class="card-body p-0">
        <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs">
        </ag-grid-angular>
    </div>
    <div class="card-footer">
        <button class="btn btn-secondary mr-2 float-right" id="employeeClose">close</button>
        <button class="btn btn-secondary mr-2 float-right" id="saveEmployee">Save</button>
    </div>
</div>

<div *ngIf="this.hideshow===true" style="z-index:52525;" class="ics-progress">
    <div class="modal-dialog modal-xl modal-dialog-scrollable " role="document ">
        <div class="modal-content">
            <div class="modal-body p-0 ">
                <div class="card ">
                    <div class="card-header p-2">
                        Product Details
                        <button class="btn btn-danger mr-2 float-right" id="detailClose">X</button>
                    </div>
                    <div class="card-body p-2 ">
                        <div class="form">
                            <div class="row">
                                <div class="col-md-2 mt-md-0 my-2"><label>Receive No</label></div>
                                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-md-0 my-2"><label>Challan No</label></div>
                                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mt-md-0 my-2"><label>Start Date</label></div>
                                <div class="col-md-4 mt-md-0 my-y">  <input type="date" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-md-0 my-2"><label>End Date</label></div>
                                <div class="col-md-4 mt-md-0 my-2"> <input type="date" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mt-md-0 my-2"><label>Track No</label></div>
                                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-md-0 my-2"><label>Driver Name</label></div>
                                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mt-md-0 my-2"><label>Delivary Point</label></div>
                                <div class="col-md-4 mt-md-0 my-y">  <input type="text" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-md-0 my-2"><label>Remark</label></div>
                                <div class="col-md-4 mt-md-0 my-2"> <input type="text" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-2">

                        <button class="btn btn-secondary mr-2 float-right" id="detailClose">close</button>
                        <button class="btn btn-secondary mr-2 float-right" id="saveDetail">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>