<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" #london id="london">London</button>

            </li>
            <li class="nav-item">
                <button class="nav-link" #paris id="paris">Paris</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" #tokyo id="tokyo"> Tokyo</a>
            </li>
            <li class="nav-item">
                <button class="nav-link disabled">Disabled</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="d-block w-100" #divLondon id="divLondon">
            <h2>London</h2>
        </div>
        <div class="d-none w-100" #divParis id="divParis">
            <h2>Paris</h2>
        </div>
        <div class="d-none w-100" #divTokyo id="divTokyo">
            <h2>Tokyo</h2>
        </div>
    </div>
</div>