<div class="container">
    <div class="row">
        <div class="col-8 text-right m-2">
            <span class=""> <h6>Multi Select, filter,Pagination,Sorting,Cell Editing
                ,Footer row,CustomCell(Component),cellstyle </h6> 
            </span>

            <!-- <span>
                Rows to Pin on Top:
              </span>
              <select
 
                (change)="onPinnedRowTopCount()"
                id="top-row-count"
                style="margin-left: 10px; margin-right: 20px;"
                #toprowcount
              >
                <option value="0">0</option>
                <option value="1" selected="">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <span>
                Rows to Pin on Bottom:
              </span>
              <select 
                (change)="onPinnedRowBottomCount()"
                id="bottom-row-count"
                style="margin-left: 10px;"
                #bottomrowcount
              >
                <option value="0">0</option>
                <option value="1" selected="">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select> -->
              <!-- (change)="AddValueChanged($event)" -->
            <select  [(ngModel)]="this.selectedSOption"  (change)="SelectionOptChanged($event)"> 
                <option *ngFor="let option of selectionOption" [ngValue]="option.no" >{{option.no}} </option>
            </select>
            <button (click)="onPinnedRowTopCount()">Pin Top 3 Rows</button>
            <button (click)="onPinnedRowBottomCount()" >Pin Bottom 3 Rows</button>
            <button (click)="clearPinned()">Clear Pinned</button>
            <button (click)="resetPinned()">
              Left = #, Make; Right = Remarks
            </button>
            <button (click)="pinModel()">Left = Model</button>
            <button class="btn btn-success" (click)="getSelectedRows()">add</button>
        </div>

    </div>
    <div class="row">
        <div class="col-8">
            <ag-grid-angular #agGrid style="width: 1200px;height: 700px;" id="myGrid" class="ag-theme-alpine " [rowData]="rowData |async" [columnDefs]="columnDefs" [rowSelection]='multiSelect' (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents"
                [sideBar]="sideBar" [pagination]="true"
                 [paginationPageSize]="20">

            </ag-grid-angular>
        </div>

    </div>


</div>