<div class="card">
    <div class="card-header text-center">
        UI Feature
    </div>
</div>
<div class="row no-gutters">
    <div class="col-2 border" style="min-height: 80vh; max-height: 80vh;">
        <button class="btn btn-info my-1 w-100" routerLink="acc">Accordion</button>
        <button class="btn btn-info my-1 w-100" routerLink="menuTree">Menu Tree</button>
        <button class="btn btn-info my-1 w-100" routerLink="fromCommon">From Common</button>
        <button class="btn btn-info my-1 w-100" routerLink="combo">Combo</button>
        <button class="btn btn-info my-1 w-100" routerLink="tab">Tab</button>
        <button class="btn btn-info my-1 w-100" routerLink="fromValidation">From Validation</button>
        <button class="btn btn-info my-1 w-100" routerLink="modalWindow">Modal Window</button>
    </div>
    <div class="col border">

        <router-outlet></router-outlet>
        <!-- <h2>Animated Accordion</h2>
        <p>Click on the buttons to open the collapsible content.</p>

        <button (click)=" Acc()" class="accordion w-100">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <button class="accordion w-100">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <button class="accordion w-100">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <div class="card">
            <div class="card-header">
                Progress
            </div>
            <div class="card-body">
                <progress id="file" value="50" max="100"> 50% </progress>
            </div>
        </div>


        <h1>Accordion Menu</h1>
        <app-accordion [options]="options" [menus]="menus">
        </app-accordion>





        <div class="card mt-4">
            <div class="card-header">
                Dialog
            </div>
            <div class="card-body">
                <button (click)="showModal()" class="btn btn-success">diologModal</button>

            </div>
        </div> -->
    </div>
</div>

<!-- <div *ngIf="show===true" class="ics-progress-content2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content mt-5">
            <div class="modal-body p-0 bg-transparent">
                <div class="card">
                    <div class="card-header">
                        this is header <button class="btn btn-danger float-right" (click)="closeModal()">Close</button>
                    </div>
                    <div class="card-body" style="height: 300px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi nobis fuga. Libero odit repellendus soluta voluptatibus fuga? Ipsum quis, nulla at possimus eius ratione quidem reiciendis assumenda illo quos dolorum corporis animi beatae quisquam,
                        iste excepturi asperiores expedita vitae aliquid est fuga corrupti consectetur. Maiores animi nemo autem modi?
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger float-right" (click)="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="card m-3">
    <div class="card-header">
        checkbox and radio btn
    </div>
    <div class="card-body">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
        Default checkbox
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
        Default radio
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
        Second default radio
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
        Disabled radio
      </label>
        </div>

        <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

        <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>

        <div class="row">
            <div class="col-12">
                <label for="appt">Time Picker:</label>
                <input type="time" id="appt" name="appt">
            </div>
            <div class="col-12 my-2">
                <label for="appt">Time Spinner:</label>
                <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm"></span>
        </button>
            </div>
            <div class="col-12 my-2">
                <label for="appt">Loader :</label>
                <div class="loader"></div>
            </div>
        </div>


    </div>
</div>



<div class="card">
    <div class="card-header">
        From Validation
    </div>
    <div class="card-body">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div> -->