<div class="row mt-5">
    <div class="col-md-12 p-2">
        <div class="form">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>First Name</label> <input type="text" class="form-control" required>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>Last Name</label> <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>Birthday</label> <input type="date" class="form-control" required>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>Gender</label>
                    <div class="d-flex align-items-center mt-2"> <label class="option"> <input type="radio" name="radio">Male
              <span class="checkmark"></span> </label> <label class="option ms-4"> <input type="radio"
                name="radio">Female <span class="checkmark"></span> </label> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>Email</label> <input type="email" class="form-control" required>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>Phone Number</label> <input type="tel" class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Subject</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Maths</option>
              <option value="2">Science</option>
              <option value="3">Social</option>
            </select>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Photo Upload</label>
                    <input type="file" class="form-control" required>
                </div>
            </div>
            <div class="btn btn-primary mt-3">Submit</div>
        </div>

    </div>
</div>
