/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
.rag-red {
    background-color: rgb(23, 241, 241);
}

.rag-green {
    background-color: lightgreen;
}

.rag-amber {
    background-color: lightsalmon;
}

.ics-progress-content2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    min-height: 100vh;
    min-width: 100vh;
    max-width: 100vh;
}